# Virtual Environments
.venv/
*/.venv/

# Dependencies
node_modules/
*/node_modules/

# Logs & Cache
*.log
*.csv
__pycache__/
*/__pycache__/

# Uploads & Temp images
durian-backend/uploads/
durian-model/suspect_review/
durian-model/misclassified_images/
*.png

# Model Files (ขนาดใหญ่เกิน limit)
*.keras
*.h5